@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    height: .1rem;
    width: .5rem;
}

::-webkit-scrollbar-track{
    background-color: #67ccff;
}

::-webkit-scrollbar-thumb{
    background-color: #194eb9;
    border-radius: 5rem;
}

body{
    font-family: 'Poppins', sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-image: linear-gradient( rgba(0, 58, 108),rgba(0,0,139,0.5),rgba(45, 166, 213, 0.2)), url(Addubg.jpg);
    background-size: cover;
    background-position: center;
    overflow: scroll; /* Ensure scrollbar is always visible */
    overflow-x: hidden;
}

.banner{
    width: 100vw;
    height: 100vh;
}

.TopContent{
    width: 100vw;
    float: right;
    position: absolute;
    top: 45%;
    transform: translateY(-15vh);
    text-align: center;
    color: aliceblue;
}

.TopContent h1{
    font-size: 100px;
    margin-top: 80px;
    margin-left: 35%;
    text-align: left;
    font-family: Helvetica, sans-serif, Arial;
}
.TopContent p{
    margin: 1px auto;
    font-size: 30px;
    font-weight: 100;
    line-height: 25px;
    text-align: left;
    margin-left: 35%;
    text-shadow: 2px 2px 8px rgb(85, 85, 171);
    font-family: 'Saunde';
}

.note{
    background-color:#12f7ff;
    width: fit-content;
    color: #1d002c;
    border-radius: 2rem;
    padding: 15px;
    position: relative;
    top: 90%;
    left:40%;
}

@font-face {
    font-family: 'Saunde';
    src: url('/Fonts/Saunde.otf') format('truetype');
}

.button-container {
    position: relative;
    transform: translate(-12vw, 47vh);
    display: flex;
    justify-content: space-around;
}

.button-container a {
    background: #12f7ff;
    color: #1d002c;
    text-decoration: none;
    border-radius: 25px;
    padding: .5rem 1rem;
    transition: all .3 ease;
    border: 2px solid #12f7ff;
    font-weight: 500;
}

.button-container a:hover {
    box-shadow: 0 0 1rem #12f7ff;
    background: #1d002c;
    color: #12f7ff;
}

@media screen and (min-width: 1344px) and (max-width: 1920px) {
    .TopContent h1{
        font-size: 80px;
        margin-top: 60px;
        margin-left: 35%;
        text-align: left;
        font-family: Helvetica, sans-serif, Arial;
    }
    .TopContent p{
        margin: 1px auto;
        font-size: 20px;
        font-weight: 100;
        line-height: 25px;
        text-align: left;
        margin-left: 35%;
        text-shadow: 2px 2px 8px rgb(85, 85, 171);
        font-family: 'Saunde';
    }
    .button-container {
        position: relative;
        transform: translate(-11vw, 46vh);
        display: flex;
        justify-content: space-around;
    }
    .note{
        background-color:#12f7ff;
        width: fit-content;
        color: #1d002c;
        border-radius: 2rem;
        padding: 15px;
        position: relative;
        top: 65%;
        left:35%;
    }
}

@media screen and (min-width: 320px) and (max-width: 430px) {
    body{
        background-image: linear-gradient( rgba(0, 58, 108),rgba(0,0,139,0.5),rgba(45, 166, 213, 0.2)), url(Addubg.jpg);
        background-size: cover, no-repeat;
        background-position: center;
        overflow: scroll; /* Ensure scrollbar is always visible */
        overflow-x: hidden;
    }
    .TopContent {
        position: relative;
    }
    
    .TopContent h1 {
        font-size: 40px;
        margin-top: 60px;
        position: absolute;
        top: 50%;
        transform: translate(-20%, 120%);
        text-align: left;
        font-family: Helvetica, sans-serif, Arial;
    }
    
    .TopContent p {
        margin: 1px auto;
        font-size: 15px;
        position: absolute;
        top: 100%;
        transform: translate(35%, 1100%);
        text-align: left;
    }
    
    .button-container {
        position: relative;
        transform: translate(-15vw, 66vh);
        display: flex;
        justify-content: space-around;
        font-size: 12px;
    }
    .note{
        background-color:#12f7ff;
        width: fit-content;
        color: #1d002c;
        border-radius: 2rem;
        padding: 15px;
        position: relative;
        width: 80%;
        top: 85%;
        left:10%;
        font-size: 12px;
    }
}