body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(45deg, #1d002c 40%, #D65DB1 70%, #c788e7 80%);
  background-size: 400% 400% ;
  animation: animate-bg 15s infinite ease-in-out;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes animate-bg{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

    #container {
      text-align: center;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: white;
    }

    label {
      font-weight: bold;
      margin-right: 10px;
    }

    input {
      padding: 5px;
      margin-right: 10px;
    }

    button {
      padding: 8px;
      background-color: #4caf50;
      color: white;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }

    #output {
      margin-top: 10px;
      font-weight: bold;
    }