body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(45deg, #1d002c 40%, #D65DB1 70%, #c788e7 80%);
  background-size: 400% 400% ;
  animation: animate-bg 15s infinite ease-in-out;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes animate-bg{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

table {
  border-collapse: collapse;
  width: auto;
  background-color: aqua;
}

th, td {
  border: 1px solid #c08f8f;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

label {
  font-weight: bold;
  text-align: left;
  margin-left: -30%;
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 10px;
  font-weight: bold;
}

.container{
  background-color: white;
  width: 50%;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(1, 0, 0, 0.3);
  text-align: center;
}